.body{

 font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
}
a{
     text-decoration: none;
    color: #000000;
}
a:hover{
    color: #9348ef;
    text-decoration: underline;
}
.container_main{
      width: 1024px;


    padding-left: 478px;
    padding-right: 478px;
}
.header{
    background-color: #5b529d;
    height: 250px;
    width: 100%;
}
.container_inner{

}

.leftside{
float: left;
   width: 280px;
    height: 750px;
    margin-right: 35px;
}
/*    user */
.user{

}
.user__avatar{
float: left;
padding-left: 80px;

    padding-top: 50px;
    padding-bottom: 45px;

}
img.avatar{
 width: 135px;
    height: 135px;
    border-radius: 100%;
}
.user_content{
    float: left;
     margin-left: 30px;
     padding-top: 80px;
    margin-right: 300px;
}
.user__name{
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
font-weight: 700;
 color: #ffffff;
margin-bottom: 5px;

    text-align: left;
    vertical-align: middle;
}
.user_prof{

    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
font-weight: 400;
color: #ffffff;
}
.user_info{
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
font-weight: 300;
 color: #ffffff;
    padding-top: 60px;
    float: left;
    color: #ffffff;
}
.adres img{
    float: left;
    padding-right: 10px;
}
.adres{
    margin-bottom: 10px;
}
.mail img{
    float: left;
    padding-right: 7.5px;
}
.mail{
    margin-bottom: 10px;
}
.tele img{
    float: left;
    padding-right: 10px;
}
.container_inner{
    width: 280px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
}
/* Profile */
.profile_info{

}
.profile_info img{

}
.profile_img{
    float: left;
    background: url(../images/profile_info.png) no-repeat center center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color:#5b529d;
 margin-right: 20px;
}
.profile_nav{

padding-top: 13px;
margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
font-weight: 600;
}
.profile_text{
padding-top: 15px;
    padding-bottom: 25px;
}
.profile_interests{
    height: 150px;

}
.profile_list{

background: url(../images/handset.png) no-repeat center center;
    width: 45px;
    height: 45px;
    margin-top: 27px;
    margin-right: 14px;
    border-radius: 100%;
    border: 4px;
    border-color: #5b529d;
    border-style: solid;
}
.profile_list{
    float: left;
background: url(../images/handset.png) no-repeat center center;
    width: 45px;
    height: 45px;
    margin-top: 27px;
    margin-right: 14px;
    margin-left: -65px;
    border-radius: 100%;
    border: 4px;
    border-color: #5b529d;
    border-style: solid;
}
.second{
    margin-left: 0px;
background: url(../images/playstation.png) no-repeat center center;

}
.third{
    margin-left: 0px;
background: url(../images/vespa.png) no-repeat center center;
}


/*experience*/
.profile_reference{


}
.profile_experience{
    margin-top: 30px;
    height: 200px;
}
.exp{
    margin-bottom: 20px;
}
.exp_dot{
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}
.exp_dot img{
opacity: 50%;
}
.exp_title{

     font-family: 'Open Sans', sans-serif;
    font-size: 15px;
font-weight: 400;
}
.exp_company{
    color: #5b529d;
}
.exp_line{
    position: absolute;
    margin-left: 9px;
    margin-top: -44px;
    border-left: 1px  solid gray;
    opacity: 50%;
  height: 65px;
}

/* Awwards*/

.awwards{
     margin-top: -20px;
    height: 200px;
}
.awwards_list{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height:30px;
}

/* right blocks*/
.rightside{
    margin-left: 280px;
    width: 580px;
    height: 850px;
}

/*Portfolio*/

.portfolio_works{
    margin-left: 100px;
    margin-top: 30px;
}
.work{
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    height: 180px;
    width: 40%;

    background-color: ;
}
.work_img{
overflow: hidden;
height: 75%;

}
.work_title{
 text-align: center;
font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.work_spec{
    text-align: center;
font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

/*Footer*/
.footer{
    position: fixed;
    left: 478px;
   width: 1024px;
    bottom: 0px;

    height: 70px;
    background-color: #5b529d;
}
.footer_info{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


